<div id="<%= dom_id destination %>">
  <p>
    <strong>Title:</strong>
    <%= destination.title %>
  </p>

  <p>
    <strong>Total km:</strong>
    <%= destination.total_km %>
  </p>

  <p>
    <strong>Toll fee:</strong>
    <%= destination.toll_fee %>
  </p>

</div>
