<div id="<%= dom_id fuel %>">
  <p>
    <strong>Name:</strong>
    <%= fuel.name %>
  </p>

  <p>
    <strong>Refund factor percentage:</strong>
    <%= fuel.refund_factor_percentage %>
  </p>

  <p>
    <strong>Minimum receipt value percentage:</strong>
    <%= fuel.minimum_receipt_value_percentage %>
  </p>

</div>
